body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #495368;
}

header{
    background-color: rgba(50, 112, 91, 0.603);
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

header p{
    margin: 8px 0 0;
    font-size: 1em;
    color:rgb(12, 75, 75);

}

main{
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

section{
    background-color: #d1dbb99a;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    background-color: rgba(204, 214, 209, 0.829);
    margin: 6px 0;
    padding: 10px;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color:rgb(177, 96, 96);

}

a:hover{
    text-decoration: underline;
}

#btn-saludar{
    martig-top: 12px;
    padding: 10px 24px;
    background-color: #495368;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    border: none;

}

#btn-saludar:hover{
    background-color: #394255;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #495368;
    font-size: 0.8em;
    color:#cec2c2;
}